@font-face {
    font-family: H2Font;
    src: url("/assets/RobotoCondensed-VariableFont_wght.ttf") format("truetype");
}

* {
    margin: 0;
    font-family: H2Font;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #FBF3D5;
}

/*MAIN CONTAINER*/
.container {
    display: grid;
    justify-items: center;
}


/*HEADER ELEMENT STYLING*/
header {
    display: grid;
    width: 100%;
    max-height: 180px;
    background-color: #D38B5D;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.left-nav {
    display: grid;
    width: 100%;
    grid-area: 1/ 2 /2 /3;
}

.logo {
    margin-top: 10px;
    width: 150px;
    height: 150px;
}

.nav {
    display: grid;
    width: 100%;
}

.navlink {
    float: right;
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-size: 25px;
    margin-top: 20px;
    font-family: H2Font;
    box-shadow: inset 0 0 0 0 white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.active {
    text-decoration: underline;
    text-decoration-color: #7A6C5D;
}

.navlink:hover {
    color: black;
    box-shadow: inset 200px 0 0 0 white;
}

.subheader {
    display: grid;
    width: 97%;
    justify-items:flex-end;
    padding-top: 10px;
}

.desc {
    color: white;
}

.buttonshopnow {
    width: 100px;
    height: 25px;
    margin-top: 10px;
    color: #FBF3D5;
    background-color: #7A6C5D;
}

.page-title {
    margin: 50px 0px;
}

/* STORE PAGE */
.store-products {
    display: inline-flex;

    /* flex-flow: row wrap; */

    width: 80%;
    height: 450px;
    margin-bottom: 10px;
    
}

.store-product {


    width: 100%;
    margin: auto;
    background-color: #7A6C5D;
    height: 450px;
}



/*LATEST PRODUCT ELEMENT STYLING*/
.product-card-strip {
    display: grid;
    gap: 10px;
    width: 80%;
    margin-bottom: 75px;
}

.product-card {
    display: grid;
    justify-items: center;
    width: 100%;
    margin: auto;
    background-color: #D38B5D;
    height: 500px;
}

.product-card1 {
    grid-area: 1/1/5/2;
}

.product-card2 {
    grid-area: 1/2/5/3;
}

.product-card3 {
    grid-area: 1/3/5/4;
}

.product-card4 {
    grid-area: 6/1/10/2;
}


.product-card1 h2,
.product-card2 h2,
.product-card3 h2 {
    color: black;
    font-family: H2Font;
}

.product-image {
    margin: 20px 0px;
    width: 200px;
    height: 320px;
}

.buttoncart {
    width: 150px;
    height: 50px;
    color: #FBF3D5;
    background-color: #1e1e1e;
    border: white;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 25px;
    
}
/*FEATURED PRODUCT ELEMENT STYLING*/
.featured-product {
    display: grid;
    width: 80%;
    height: 180px;
    background-color: #EFBC9B;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 75px;
}

.featured-product h2 {
    color: #000;
}

.featured-product-image {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    justify-self: center;
    align-self: center;
}

.details {
    padding-left: 10px;
    padding-top: 20px;
    display: grid;
    width: 100%;
    grid-area: 1/ 2 / 2 /3;

}

/*FOOTER  ELEMENT STYLING*/
footer {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    justify-content: center;
    width: 100%;
    background-color: #7A6C5D;
}

header {

    width: 100%;
    max-height: 180px;
    background-color: #D38B5D;

    grid-template-rows: 1fr 1fr;

}

/* MEDIA QUERY TO KEEP IT RESPONSIVE FOR SMALLER SCREENS*/
@media screen and (max-width: 540px) {

    .subheader {
        display: none;
    }

    .product-card-strip {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .product-card1,
    .product-card2,
    .product-card3 {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        margin: auto;
    }

    .featured-product {      
        display: none;        
    }
 
    footer {
    display: hidden;        
    } 
    .navlink {
        margin: auto;
        font-size: 15px;
        padding: 10px;
    }
}